@model IEnumerable<SISCOMBUST.Models.Consumo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Operacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ruta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unidades)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GalonesPorUnidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GalonesConsumidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaSalida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supervisor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Operacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ruta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unidades)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GalonesPorUnidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GalonesConsumidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaSalida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supervisor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observacion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdConsumo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdConsumo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdConsumo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
